.about {
  background: #fafafa;
  padding: 80px 20px;
}

.about-wrapper {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

/* Image */
.about-image img {
  width: 100%;
  max-width: 420px;
  height: 520px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.1);
}

/* Content */
.about-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #111;
}
.about-stats i {
  margin-right: 8px;
  color: #caa45d;
}


.about-content p {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 16px;
}

/* Stats */
.about-stats {
  display: flex;
  gap: 40px;
  margin-top: 30px;
}

.about-stats div h3 {
  font-size: 28px;
  color: #caa45d;
  margin-bottom: 6px;
}

.about-stats div span {
  font-size: 14px;
  color: #555;
}

/* Responsive */
@media (max-width: 900px) {
  .about-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-image img {
    height: 380px;
    margin: 0 auto;
  }

  .about-stats {
    justify-content: center;
    flex-wrap: wrap;
  }

  .about-content h2 {
    font-size: 30px;
  }
}
