.footer {
  background: #111;
  color: #ddd;
  padding: 60px 20px 30px;
}

/* Wrapper */
.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* Sections */
.footer-section h3 {
  font-size: 22px;
  margin-bottom: 14px;
  color: #fff;
}

.footer-section h4 {
  font-size: 16px;
  margin-bottom: 25px;
  color: #fff;
}

.footer-section p {
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.6;
  color: #ccc;
}

.footer-links-section {
  text-decoration:none;
  color: #ccc;
}
/* Links */
.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #ccc;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #caa45d;
}

/* Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 13px;
  color: #aaa;
  border-top: 1px solid #333;
  padding-top: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-wrapper {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-section ul {
    padding: 0;
  }
}
